/* html {
    font-size: 62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
} */
html, body, #root {
    height: 100%;
}
.pfs-legend {
    position: absolute;
    top: 0;
    right: 5px;
    height: 525px;
    width: 300px;
    background-color: #FFFFFF;
    z-index: 1000;
    margin-top: 85px;
    border-radius: 6px;
    display: none;
}

.pfs-legend h4 {
    font-weight: bold;
}

.pfs-legend .pfs-row {
    margin-bottom: 10px;
}

.pfs-legend-text {
    font-size: 1rem;
}

.pfs-toggle-legend.btn.btn-outline-success:not(:hover) {
    background-color: transparent;
    box-shadow: none;
}

.btn-outline-success:active {
    color: #FFFFFF;
    background-color: #28a745;
    background-image: none;
    border-color: #28a745;
}

#mapid {
    height: 100vh;
    background: lightblue;
}

/* Bootstrap Styles */
.labHeaderInfo {
    text-align: center;
}

.labInfo .table-striped tbody tr:nth-of-type(even),
.labInfo .table-striped thead {
    background-color: #E0EDFF;
}

.labInfo .table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

table td, table th {
    border: none;
}

table th, table td {
    border-bottom: 1px solid black;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid black;
}

.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: none;
}

.labName {
    font-size: 2em;
}

.labAddress, .labCity {
    font-size: 1.5em;
}

.labCert {
    font-size: 1.3em;
    margin-bottom: 15px;
}

.table thead th:first-child {
    padding-left: 5px;
}

@media (min-width: 768px) {
    .pfs-legend {
        height: 500px;
    }
}

@media (max-width: 582px) {
    .pfs-toggle-container {
        margin: 0 auto;
    }
}

@media (min-width: 905px) {
    .pfs-legend {
        display: block;
    }
}