html, body, #root {
  height: 100%;
}

/* Bootstrap Styles */
.labHeaderInfo {
  text-align: center;
}

.labInfo .table-striped tbody tr:nth-of-type(even),
.labInfo .table-striped thead {
  background-color: #E0EDFF;
}

.labInfo .table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent;
}

.labInfo table td, .labInfo table th {
  border: none;
}

.labInfo table th, .labInfo table td {
  border-bottom: 1px solid #777777;
}

.labInfo .table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #777777;
}

.labInfo .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: none;
}

.labName {
  font-size: 2em;
}

.labAddress, .labCity {
  font-size: 1.5em;
}

.labCert {
  font-size: 1.3em;
  margin-bottom: 15px;
}

.labInfo .table thead th:first-child {
  padding-left: 5px;
}